<div class='dataRow'>
    <img [src]="imageUrl" alt="Image not found">
    <p>Brand: <span class="data">{{car.brand}}</span></p>
    <p>Model: <span class="data">{{car.model}}</span></p>
    <p>Type: <span class="data">{{car.type}}</span></p>
    <p>Price: <span class="data">{{car.price}}</span></p>
</div>
<div class='buttonRow'>
        <!-- <button mat-menu-item *ngIf="isProjectManager && businessTrip.status == pendingStatus" [routerLink]="['/review-business-trip', businessTrip.id]">
            <mat-icon>card_travel</mat-icon>
            <span>Review</span>
        </button>
        <button mat-menu-item *ngIf="businessTrip.status != pendingStatus" [routerLink]="['/preview-business-trip', businessTrip.id]">
            <mat-icon>preview</mat-icon>
            <span>Details</span>
        </button>
        <button mat-menu-item *ngIf="!isProjectManager && businessTrip.status == pendingStatus" [routerLink]="['/edit-business-trip', businessTrip.id]">
            <mat-icon>edit</mat-icon>
            <span>Update</span>
        </button>
        <button mat-menu-item *ngIf="!isProjectManager && businessTrip.status == pendingStatus" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button> -->
</div>

<!-- <mat-card class="car-card">
</mat-card> -->